* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    margin: 0;
    overflow: auto;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
}

a:hover {
    color: #3882f6;
}

header,
footer {
    background-color: #1F2937;
    color: #e5e7eb;
    border-radius: 10px;  
}

.pic {
    width: 100px;
}

.image {
    width: 400px;
    height: auto;
}

.hero2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 20px;
}

.hero2>h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero2>p {
    font-size: 18px;
}

button {
    background-color: #3882f6;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    color: #f9faf8;
    margin-top: 30px;
}

.images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 4vh auto;
}

.pics {
    display: flex;
    justify-content: space-evenly;
    width: auto;
    height: 150px;
    border: 2px #1F2937;
}

section>h2 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.inspire {
    display: flex;
    flex-direction: column;
    padding: 10px 160px;
    border-radius: 10px;
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

#cite {
    font-weight: 300;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    padding: 20px 40px;
    margin: 20px 0px;
    border-radius: 10px;
    color: #f9faf8;
}

.contact>button {
    margin: 10px;
}

footer {
    display: flex;
    margin-bottom: 0px;
    padding: 10px 565px;
}