body {
    font-family: Roboto, sans-serif;
    height: 1912px;
    width: 1440px;
}

.hero {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 10px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
}

header,
footer {
    background-color: #1F2937;
    color: #e5e7eb;  
}

.pic {
    width: 100px;
}

.image {
    width: 300px;
}