body {
    font-family: Roboto, sans-serif;
    height: 1912px;
    width: 1440px;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.links {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

header,
footer {
    background-color: #1F2937;
}

.pic {
    width: 100px;
}

.image {
    width: 300px;
}